*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #196fe0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .loaders{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    
}

.loaders .loading{
    background-color: #F52027;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.8s ease-in-out infinite;
    box-shadow: -4px 10px 20px;
}

.loaders .one{
    animation-delay: 0.3s;

}

.loaders .two{
    animation-delay: 0.4s;
}

.loaders .three{
    animation-delay: 0.6s;
}

@keyframes load{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}